
# dir: ~/quangminh-smart-border/backend/.dockerignore

# Các dependencies, không cần sao chép, sẽ được cài đặt bên trong container
/node_modules

# Các file build, sẽ được tạo ra bên trong container
/dist

# File cấu hình môi trường, sẽ được cung cấp từ bên ngoài
/.env

# Các file log của npm
npm-debug.log

# Các file hệ thống của macOS
.DS_Store

# Các thư mục không cần thiết cho production build
/src
/test

# Các file cấu hình không cần thiết trong image cuối cùng
/tsconfig.json
/tsconfig.build.json
/nest-cli.json